# Binaries for programs and plugins
*.exe
*.zip
psp/*
*.exe~
postsolarpunk
*.dll
*.so
*.dylib
pulsar-23*/*
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
